<!-- The routed views render in the <router-outlet>-->

<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      {{ title }}
    </a>
  </nav>
  <br />

  <h2>Submit a complaint</h2>
  <form #crmForm="ngForm" (ngSubmit)="submitCRMEvent()">
    <div class="form-group">
      <label for="Product" class="form-label">Client_ID</label>
      <br />
      <input
        type="text"
        name="Client_ID"
        class="form-control"
        [(ngModel)]="form['Client_ID']"
      />
    </div>

    <div class="form-group">
      <label for="Product" class="form-label">Product</label>
      <br />
      <input
        type="text"
        name="Product"
        class="form-control"
        [(ngModel)]="form['Product']"
      />
    </div>

    <div class="form-group">
      <label for="Product" class="form-label">Sub-product</label>
      <br />
      <input
        type="text"
        name="Sub-product"
        class="form-control"
        [(ngModel)]="form['Sub-product']"
      />
    </div>

    <div class="form-group">
      <label for="Product" class="form-label">Issue</label>
      <br />
      <input
        type="text"
        name="Issue"
        class="form-control"
        [(ngModel)]="form['Issue']"
      />
    </div>

    <div class="form-group">
      <label for="Product" class="form-label">Sub-issue</label>
      <br />
      <input
        type="text"
        name="Sub-issue"
        class="form-control"
        [(ngModel)]="form['Sub-issue']"
      />
    </div>

    <div class="form-group">
      <label for="Product" class="form-label">
        Consumer complaint narrative
      </label>
      <br />
      <input
        type="text"
        name="Consumer complaint narrative"
        class="form-control"
        [(ngModel)]="form['Consumer complaint narrative']"
      />
    </div>

    <div class="form-group">
      <label for="Product" class="form-label">Tags</label>
      <br />
      <input
        type="text"
        name="Tags"
        class="form-control"
        [(ngModel)]="form['Tags']"
      />
    </div>

    <div class="form-group">
      <label for="Product" class="form-label">Consumer consent provided?</label>
      <br />
      <input
        type="text"
        name="Consumer consent provided?"
        class="form-control"
        [(ngModel)]="form['Consumer consent provided?']"
      />
    </div>

    <div class="form-group">
      <label for="Product" class="form-label">Submitted via</label>
      <br />
      <input
        type="text"
        name="Submitted via"
        class="form-control"
        [(ngModel)]="form['Submitted via']"
      />
    </div>
    <br />
    <button type="submit" ngbButton type="submit" class="btn btn-dark mb-3">
      Submit
    </button>
  </form>
  <hr />

  <h3>Past Complaints</h3>

  <!-- <form #crmForm="ngForm" (ngSubmit)="getCRMEvent()">
    <div class="form-group">
      <label for="complaintId" class="form-label">
        Loan ID:
      </label>
      <br />
      <div class="col-xs-3">
        <input
          type="text"
          name="complaintId"
          class="form-control"
          [(ngModel)]="form2['complaintId']"
        />
      </div>
    </div>

    <br />
    <button type="submit" ngbButton type="submit" class="btn btn-dark mb-3">
      Submit
    </button>
  </form> -->
  <hr />
  <table mat-table [dataSource]="crmEvents" class="mat-elevation-z8">
    <ng-container matColumnDef="Complaint ID">
      <th mat-header-cell *matHeaderCellDef>Complaint ID</th>
      <td mat-cell *matCellDef="let element">{{ element['Complaint ID'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Date received">
      <th mat-header-cell *matHeaderCellDef>Date received</th>
      <td mat-cell *matCellDef="let element">{{ element['Date received'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">{{ element['Product'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Sub-product">
      <th mat-header-cell *matHeaderCellDef>Sub-product</th>
      <td mat-cell *matCellDef="let element">{{ element['Sub-product'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Issue">
      <th mat-header-cell *matHeaderCellDef>Issue</th>
      <td mat-cell *matCellDef="let element">{{ element['Issue'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Sub-issue">
      <th mat-header-cell *matHeaderCellDef>Sub-issue</th>
      <td mat-cell *matCellDef="let element">{{ element['Sub-issue'] }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="Consumer complaint narrative">
      <th mat-header-cell *matHeaderCellDef>Consumer complaint narrative</th>
      <td mat-cell *matCellDef="let element">
        {{ element['Consumer complaint narrative'] }}
      </td>
    </ng-container> -->
    <!-- 
    <ng-container matColumnDef="Tags">
      <th mat-header-cell *matHeaderCellDef>Tags</th>
      <td mat-cell *matCellDef="let element">{{ element['Tags'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Consumer consent provided?">
      <th mat-header-cell *matHeaderCellDef>Consumer consent provided?</th>
      <td mat-cell *matCellDef="let element">
        {{ element['Consumer consent provided?'] }}
      </td>
    </ng-container> -->

    <ng-container matColumnDef="Submitted via">
      <th mat-header-cell *matHeaderCellDef>Submitted via</th>
      <td mat-cell *matCellDef="let element">{{ element['Submitted via'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Date sent to company">
      <th mat-header-cell *matHeaderCellDef>Date sent to company</th>
      <td mat-cell *matCellDef="let element">
        {{ element['Date sent to company'] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Company response to consumer">
      <th mat-header-cell *matHeaderCellDef>Company response to consumer</th>
      <td mat-cell *matCellDef="let element">
        {{ element['Company response to consumer'] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Timely response?">
      <th mat-header-cell *matHeaderCellDef>Timely response?</th>
      <td mat-cell *matCellDef="let element">
        {{ element['Timely response?'] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Consumer disputed?">
      <th mat-header-cell *matHeaderCellDef>Consumer disputed?</th>
      <td mat-cell *matCellDef="let element">
        {{ element['Consumer disputed?'] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Client_ID">
      <th mat-header-cell *matHeaderCellDef>Client_ID</th>
      <td mat-cell *matCellDef="let element">{{ element['Client_ID'] }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="updateCRMEvent(element)">Update</button>
        &nbsp;
        <button mat-button (click)="deleteCRMEvent(element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
