<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      {{ title }}
    </a>
  </nav>
  <br />

  <h2>Search for Loans</h2>
  <form #crmForm="ngForm" (ngSubmit)="getLoan()">
    <div class="form-group">
      <label for="loanId" class="form-label">
        Loan ID:
      </label>
      <br />
      <div class="col-xs-3">
        <input
          type="text"
          name="loanId"
          class="form-control"
          [(ngModel)]="form['loanId']"
        />
      </div>
    </div>

    <br />
    <button type="submit" ngbButton type="submit" class="btn btn-dark mb-3">
      Submit
    </button>
  </form>
  <hr />

  <h3>Loans</h3>

  <table mat-table [dataSource]="loans" class="mat-elevation-z8">
    <ng-container matColumnDef="Loan Id">
      <th mat-header-cell *matHeaderCellDef>Loan Loan Id</th>
      <td mat-cell *matCellDef="let element">{{ element.loan_id }}</td>
    </ng-container>

    <ng-container matColumnDef="Account Id">
      <th mat-header-cell *matHeaderCellDef>Account Account Id</th>
      <td mat-cell *matCellDef="let element">{{ element.account_id }}</td>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="Duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>

    <ng-container matColumnDef="Payments">
      <th mat-header-cell *matHeaderCellDef>Payments</th>
      <td mat-cell *matCellDef="let element">{{ element.payments }}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">{{ element.location }}</td>
    </ng-container>

    <ng-container matColumnDef="Purpose">
      <th mat-header-cell *matHeaderCellDef>Purpose</th>
      <td mat-cell *matCellDef="let element">{{ element.purpose }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
