<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      {{ title }}
    </a>
  </nav>
  <br />

  <form #crmForm="ngForm" (ngSubmit)="submitCRMEvent()">
    <div class="form-group">
      <label for="Product" class="form-label">Product:</label>
      <br />
      <input
        type="text"
        name="Product"
        class="form-control"
        [(ngModel)]="form.Product"
      />
    </div>
    <div class="form-group">
      <label for="Sub Product" class="form-label">Sub Product:</label>
      <br />
      <div class="col-xs-3">
        <input
          type="text"
          name="Sub Product"
          class="form-control"
          [(ngModel)]="form['Sub-product']"
        />
      </div>
    </div>

    <!-- Issue: '',
    'Complaint Id': '',
    'Consumer complaint narrative': '', -->

    <div class="form-group">
      <label for="Issue" class="form-label">Issue:</label>
      <br />
      <div class="col-xs-3">
        <input
          type="text"
          name="Issue"
          class="form-control"
          [(ngModel)]="form['Issue']"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="Complaint ID" class="form-label">Complaint ID:</label>
      <br />
      <div class="col-xs-3">
        <input
          type="text"
          name="Complaint ID"
          class="form-control"
          [(ngModel)]="form['Complaint ID']"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="Consumer complaint narrative" class="form-label">
        Consumer complaint narrative:
      </label>
      <br />
      <div class="col-xs-3">
        <input
          type="text"
          name="Consumer complaint narrative"
          class="form-control"
          [(ngModel)]="form['Consumer complaint narrative']"
        />
      </div>
    </div>

    <br />

    <button type="submit" ngbButton type="submit" class="btn btn-dark mb-3">
      Submit Event
    </button>
  </form>
  <hr />

  <h3>Past Events</h3>

  <table mat-table [dataSource]="crmEvents" class="mat-elevation-z8">
    <ng-container matColumnDef="Complaint ID">
      <th mat-header-cell *matHeaderCellDef>Complaint ID</th>
      <td mat-cell *matCellDef="let element">{{ element['Complaint ID'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">{{ element.Product }}</td>
    </ng-container>

    <ng-container matColumnDef="Sub-Product">
      <th mat-header-cell *matHeaderCellDef>Sub Product</th>
      <td mat-cell *matCellDef="let element">{{ element['Sub-product'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Issue">
      <th mat-header-cell *matHeaderCellDef>Issue</th>
      <td mat-cell *matCellDef="let element">{{ element.Issue }}</td>
    </ng-container>

    <ng-container matColumnDef="Consumer complaint narrative">
      <th mat-header-cell *matHeaderCellDef>Consumer complaint narrative</th>
      <td mat-cell *matCellDef="let element">
        {{ element['Consumer complaint narrative'] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
