<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Retail Banking Data - CRM
    </a>
  </nav>
  <br />
  <div class="list-group">
    <a href="complaints-search/" class="list-group-item list-group-item-action">
      Search for complaints
    </a>
    <a href="complaints/" class="list-group-item list-group-item-action">
      Submit a complaint
    </a>
    <a href="loans/" class="list-group-item list-group-item-action">
      Search for loans
    </a>
    <a href="clients/" class="list-group-item list-group-item-action">
      Search for clients
    </a>
    <a href="transactions/" class="list-group-item list-group-item-action">
      Search for transactions
    </a>
  </div>
</div>
